<!-- <h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p> -->

<p id="notice" class="alert alert-success"><%= notice %></p>
<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> of <%= dose.ingredient.name %></li>
  <% end %>
</ul>

<%= link_to 'Back', cocktails_path %> |
<%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail) %>