<!-- <h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p> -->

<div class="padded">
  <% if notice %>
    <p id="notice" class="alert alert-success alert-dismissible">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>
  <% end %>
</div>

<div class="padded">
  <h1><%= @cocktail.name %></h1>

  <div class="padded">
    <%= image_tag @cocktail.picture.url(:medium) %>
  </div>

  <ul class="no-bullet">
    <% @cocktail.doses.each do |dose| %>
      <% next unless dose.id %>
      <li><i class="fa fa-leaf"></i> <%= dose.description %> of <%= dose.ingredient.name %> <%= link_to 'Delete', cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% end %>
  </ul>
</div>

<div class="padded">
  <h4>Add an ingredient to <%= @cocktail.name %></h4>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.error_notification %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add an Ingredient", class: "btn btn-primary"  %>
  <% end %>
</div>


<%= link_to 'Back', cocktails_path %>