<!-- <h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p> -->

<h1>Add Ingredient to <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add an Ingredient", class: "btn btn-primary"  %>
<% end %>

<%= link_to 'Back', cocktail_path(@cocktail) %>